In [166]:
import pandas as pd
import numpy as np
import openpyxl


codigos=['05','08','11','13','15','17','18','19','20','23','25','27','41','44','47','50','52','54','63','66','68','70','73','76','81','85','86','88','91','94','95','97','99']

tabla1=pd.read_excel("C:/Users/jijapago/Downloads/2018def.xls",sheet_name='00')

tabla1=tabla1.iloc[9:12,0:]
tabla_final=tabla1

for hoja in codigos:

    tabla_aux=pd.read_excel("C:/Users/jijapago/Downloads/2018def.xls",sheet_name=hoja)
    tabla_aux.iloc[13,0]=tabla_aux.iloc[9,0]
    tabla_aux=tabla_aux.iloc[13,0:]
    tabla_final=tabla_final.append(tabla_aux, ignore_index=True)

print(tabla_final.tail(5))

for i in range(3,tabla_final.shape[0]):

    tabla_final.iloc[i,0]=tabla_final.iloc[i,0][3:]


tabla_final.to_excel('D:/Colombia/Defunciones no fetales/2018.xlsx',index=False)

     Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
31  91 Amazonas      TOTAL        158         95         62          1
32   94 Guainía      TOTAL        128         76         52          0
33  95 Guaviare      TOTAL        224        155         68          1
34    97 Vaupés      TOTAL         95         60         35          0
35   99 Vichada      TOTAL        182        103         79          0

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 23 Unnamed: 24  \
31         14          6          0          2  ...           0           7
32          9          7          0          2  ...           0           5
33          4          3          0          1  ...           0          13
34          6          3          0          5  ...           0           3
35          9         20          0          2  ...           0           7

   Unnamed: 25 Unnamed: 26 Unnamed: 27 Unnamed: 28 Unnamed: 29 Unnamed: 30  \
31          10           0           1           1           0           0
32           4           0           0           0           0           0
33          13           0           1           0           0           0
34           1           0           0           0           0           0
35           7           0           0           1           0           0

   Unnamed: 31 Unnamed: 32
31           0         0.0
32           0         0.0
33           0         0.0
34           0         0.0
35           0         0.0

[5 rows x 33 columns]

In [1]:
import pandas as pd
import numpy as np
import openpyxl

tabla1=pd.read_excel("C:/Users/jijapago/Downloads/2021def.ods")

tabla1.dropna(inplace=True,axis=0)

for i in range(0,tabla1.shape[0]):

    tabla1.iloc[i,0]=tabla1.iloc[i,0][3:]

    
tabla_final=tabla1
    
tabla_final.to_excel('D:/Colombia/Defunciones no fetales/2021.xlsx',index=False)

In [150]:
import pandas as pd
import numpy as np
import openpyxl

Departamentos={'Antioquia','Atlántico','Bogotá','Bolívar','Boyacá','Caldas','Caquetá','Cauca','Cesar','Córdoba','Cundinamarca','Chocó','Huila','La Guajira','Magdalena','Meta','Nariño','Norte de Santander','Quindio','Risaralda','Santander','Sucre','Tolima','Valle','Arauca','Casanare','Putumayo','San Andrés y Providencia','Amazonas','Guainía','Guaviare','Vaupés','Vichada'}
tabla1=pd.read_excel("C:/Users/jijapago/Downloads/2007def.xls")


contador=2

while True:

    try:

        if not(tabla1.iloc[contador,0] in Departamentos) and tabla1.iloc[contador,0]!='TOTAL' :

            tabla1=tabla1.drop(contador,axis=0)
            tabla1.reset_index(inplace=True,drop=True)

        elif tabla1.iloc[contador,0]=='TOTAL':

            tabla1.iloc[contador,0]=tabla1.iloc[contador-1,0]

        else: 

            contador+=1

    except IndexError:

        break

contador=1

while True:

    try:

        if tabla1.iloc[contador,0] in Departamentos:

            Departamentos.discard(tabla1.iloc[contador,0])
            contador+=1

        else: 
               
            tabla1=tabla1.drop(contador-1,axis=0)
            tabla1.reset_index(inplace=True,drop=True)


    except IndexError:

        break

tabla_final=tabla1

tabla_final.to_excel('D:/Colombia/Defunciones no fetales/2007.xlsx',index=False)

In [24]:
import pandas as pd
import numpy as np

tabla_aux=pd.read_csv('D:/Colombia/Esperanza de vida.csv',sep=',',header=None, encoding='latin-1')
tabla_aux.reset_index(inplace=True,drop=True)


serie=np.full(33,int(tabla_aux.iloc[0,1]))
serie=pd.Series(serie)
        
tabla_aux1=tabla_aux.iloc[1:,[0,1]]
tabla_aux1.reset_index(inplace=True,drop=True)

            
tabla_aux1=pd.concat([tabla_aux1,serie],axis=1)

tabla=tabla_aux1



for j in range(1,32):
        
            serie=np.full(33,int(tabla_aux.iloc[0,j+1]))
            serie=pd.Series(serie)
        
            tabla_aux1=tabla_aux.iloc[1:,[0,j+1]]
            tabla_aux1.reset_index(inplace=True,drop=True)
            
            
            tabla_aux1=pd.concat([tabla_aux1,serie],axis=1)

            tabla_aux1.rename(columns={j+1:1},inplace=True)

            tabla=pd.concat([tabla,tabla_aux1],ignore_index=True)


print(tabla.tail(5))


tabla.to_csv('D:/Colombia/Evida.csv',index=False,sep=';')

                      0        1     0
1051            'SUCRE'  '73.97'  2021
1052           'TOLIMA'  '73.16'  2021
1053  'VALLE DEL CAUCA'  '73.70'  2021
1054           'VAUPIS'  '67.33'  2021
1055          'VICHADA'  '73.32'  2021

In [44]:
import pandas as pd
import numpy as np

lista=['1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
for i in lista:

    tabla_aux=pd.read_csv('D:/Colombia/Defunciones no fetales/'+i+'.csv',sep=';',header=None, encoding='latin-1')
    serie1=np.full(33,'HOMBRE')
    serie1=pd.Series(serie1)

    serie2=np.full(33,'MUJER')
    serie2=pd.Series(serie2)

    serie3=np.full(33,'INDETERMINADO')
    serie3=pd.Series(serie3)


    tabla_aux1=tabla_aux.iloc[1:,[0,1]]
    tabla_aux1.reset_index(inplace=True,drop=True)

            
    tabla_aux1=pd.concat([tabla_aux1,serie1],axis=1)

    tabla_aux2=tabla_aux.iloc[1:,[0,2]]
    tabla_aux2.reset_index(inplace=True,drop=True)

            
    tabla_aux2=pd.concat([tabla_aux2,serie2],axis=1)
    tabla_aux2.rename(columns={2:1},inplace=True)

    tabla_aux3=tabla_aux.iloc[1:,[0,3]]
    tabla_aux3.reset_index(inplace=True,drop=True)

            
    tabla_aux3=pd.concat([tabla_aux3,serie3],axis=1)
    tabla_aux3.rename(columns={3:1},inplace=True)

    tabla=pd.concat([tabla_aux1,tabla_aux2,tabla_aux3],axis=0)

    tabla.to_csv('D:/Colombia/Defunciones no fetales/D'+i+'.csv',index=False,sep=';',header=False)

In [2]:
import pandas as pd
import numpy as np

lista=['1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022']

tabla=pd.DataFrame({'AÑO':[],'DEPARTAMENTO':[],'CANTIDAD':[],'GENERO':[]})


for i in lista:

    

    tabla_aux=pd.read_csv('D:/Colombia/Nacimientos/N'+i+'.csv',sep=';',skiprows=1,decimal=',',encoding='latin-1',names=['DEPARTAMENTO','CANTIDAD','GENERO'])

    serie=pd.Series(np.full(tabla_aux.shape[0],i),name='AÑO')

    tabla_aux=pd.concat([serie,tabla_aux],axis=1)

    tabla= pd.concat([tabla,tabla_aux],axis=0)




print(tabla.tail(5))


tabla.to_csv('D:/Colombia/Nacimientos2.csv',index=False,sep=';')

     AÑO DEPARTAMENTO CANTIDAD         GENERO
93  2022     AMAZONAS        0  INDETERMINADO
94  2022      GUAINIA        0  INDETERMINADO
95  2022     GUAVIARE        0  INDETERMINADO
96  2022       VAUPES        0  INDETERMINADO
97  2022      VICHADA        0  INDETERMINADO

In [73]:
import pandas as pd
import numpy as np
import openpyxl

lista=['Departamento 2001','Departamento 2002','Departamento 2003','Departamento 2004 ','Departamento 2005','Departamento 2006']

tabla=pd.DataFrame({'AÑO':[],'Departamentos':[],'Población total':[],'Población en edad de trabajar':[],'Población económicamente activa':[]})



for i in lista:


    tabla_aux=pd.read_excel('D:/Colombia/Empleo/Empleo2001_2006.xls',sheet_name=i)
    serie=pd.Series(np.full(tabla_aux.shape[0],i[-4:]),name='AÑO')
    
    tabla_aux=pd.concat([serie,tabla_aux],axis=1)

    tabla= pd.concat([tabla,tabla_aux],axis=0)

tabla=tabla.iloc[:,0:5]
tabla.dropna(inplace=True)
tabla[['Población total','Población en edad de trabajar','Población económicamente activa']]=tabla[['Población total','Población en edad de trabajar','Población económicamente activa']].replace('.','',regex=True)

print(tabla.head(5))

tabla.to_csv('D:/Colombia/Empleo/tabla1.csv',index=False,sep=';')

    AÑO Departamentos  Población total  Población en edad de trabajar  \
1  2001     Antioquia         5453.495                       4150.112
2  2001     Atlántico         2174.929                       1608.995
3  2001   Bogotá, D.C         6557.525                       5054.771
4  2001       Bolívar         2043.540                       1490.141
5  2001        Boyacá         1375.045                       1032.073

   Población económicamente activa
1                         2454.378
2                          903.183
3                         3310.962
4                          829.396
5                          597.878

In [127]:
import pandas as pd
import numpy as np

tabla1=pd.read_csv('D:/Colombia/Empleo/Empleo2007_2022.csv',sep=';',decimal=',',skiprows=1,encoding='latin-1',header=None)

tabla=pd.DataFrame({'Departamento':[],'Año':[],'Población total':[],'Población en edad de trabajar':[],'Población económicamente activa':[]})




for i in range(0,tabla1.shape[0],5):

    tabla_aux = tabla1.iloc[i:,0:]
    tabla_aux=tabla_aux.T
    tabla_aux.iloc[0,1]='Año'
    tabla_aux.iloc[1:,0]=tabla_aux.iloc[0,0]
    tabla_aux.iloc[0,0]='Departamento'
    tabla_aux=tabla_aux.rename(columns={i:'Departamento',i+1:'Año',i+2:'Población total',i+3:'Población en edad de trabajar',i+4:'Fuerza de trabajo'})
    tabla_aux=tabla_aux.drop(0)
    tabla=pd.concat([tabla,tabla_aux],axis=0)
    tabla.dropna(axis=1, inplace=True)
    

print(tabla.tail(5))

tabla.to_csv('D:/Colombia/Empleo/tabla2.csv',index=False,sep=';')

         Departamento     Año Población total Población en edad de trabajar  \
12  'Valle del Cauca'  2018.0          4474.0                        3419.0
13  'Valle del Cauca'  2019.0          4506.0                        3456.0
14  'Valle del Cauca'  2020.0          4531.0                        3488.0
15  'Valle del Cauca'  2021.0          4565.0                        3529.0
16  'Valle del Cauca'  2022.0          4589.0                        3562.0

   Fuerza de trabajo
12            2160.0
13            2177.0
14            2061.0
15            2085.0
16            2290.0

In [141]:
tabla1=pd.read_csv('D:/Colombia/Empleo/tabla1.csv',sep=';', encoding='utf-8')

tabla2=pd.read_csv('D:/Colombia/Empleo/tabla2.csv',sep=';', encoding='utf-8')

tabla=pd.concat([tabla1,tabla2],axis=0)

tabla.to_csv('D:/Colombia/Empleo.csv',index=False,sep=';')

In [12]:
import pandas as pd
import numpy as np

tabla1=pd.read_csv('D:/Colombia/IDH.csv',sep=',', encoding='utf-8')



for i in range(0,tabla1.shape[0]):

    tabla1.iloc[i,3]=tabla1.iloc[i,3]*0.001

tabla1.to_csv('D:/Colombia/IDH.csv',index=False,sep=';')

In [23]:
import pandas as pd
import numpy as np

tabla1=pd.read_csv('D:/Colombia/Empleo.csv',sep=',', encoding='utf-8')
tabla2=pd.read_csv('D:/Colombia/Departamentos.csv',sep=';', encoding='utf-8')
tabla3=pd.read_csv('D:/Colombia/year.csv',sep=';', encoding='utf-8')



for i in range(0,tabla1.shape[0]):

    for z in range(0,tabla3.shape[0]):

        if tabla1.iloc[i,0]==tabla3.iloc[z,1]:

            tabla1.iloc[i,0]=tabla3.iloc[z,0]

    for j in range(0,tabla2.shape[0]):

        if tabla1.iloc[i,1]==tabla2.iloc[j,1]:

            tabla1.iloc[i,1]=tabla2.iloc[j,0]

tabla1.to_csv('D:/Colombia/Empleo2.csv',index=False,sep=';')

In [13]:
import pandas as pd
import numpy as np

tabla1=pd.read_csv('D:/Colombia/Defunciones.csv',sep=',', encoding='utf-8')

for i in range(0,tabla1.shape[0]):

    
    tabla1.iloc[i,4]=int(tabla1.iloc[i,4])

print(tabla1.head(5))
#tabla1.to_csv('D:/Colombia/Defunciones.csv',index=False,sep=';')

ValueError: cannot convert float NaN to integer